.weapon--reveal {
  text-align: right;
}

.weapon__image {
  width: 80%;
  max-width: 160px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}

.weapon__image--animate {
  text-align: left;
  animation: bounce 0.7s ease-in-out infinite;
}

@media (max-height: 800px) {
  .weapon__image {
    max-width: 80px;
  }
}